
body{
    background-color: rgba(27, 27, 155, 0.729);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
footer{
    font-style: italic;
    color: whitesmoke;
}

section{
    min-width: 300px;
    max-width: 700px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin:auto;
    text-align: left;
    
}
#lista{ /* # - ID / .(ponto> Class*/
    width: 200px;
}

h1{
    color: whitesmoke;
}
